altair==5.2.0
asgiref==3.7.2
attrs==23.1.0
Automat==22.10.0
beautifulsoup4==4.12.2
blinker==1.7.0
bs4==0.0.1
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
constantly==23.10.4
contourpy==1.2.0
cryptography==41.0.7
cssselect==1.2.0
cycler==0.12.1
demjson3==3.0.6
docopt==0.6.2
et-xmlfile==1.1.0
filelock==3.13.1
Flask==3.0.0
fonttools==4.46.0
gitdb==4.0.11
GitPython==3.1.40
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.11.0
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
jsonpath==0.82.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
kiwisolver==1.4.5
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
mdurl==0.1.2
numpy==1.25.2
opencv-python==4.8.0.76
openpyxl==3.1.2
packaging==23.2
pandas==2.1.0
parsel==1.8.1
pdfminer.six==20221105
pdfplumber==0.10.3
Pillow==10.1.0
pipreqs==0.4.13
plotly==5.18.0
prettytable==3.9.0
Protego==0.3.0
protobuf==4.25.1
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.19.0
pydeck==0.8.1b0
PyDispatcher==2.0.7
pyecharts==2.0.4
PyExecJS==1.5.1
pygame==2.5.0
Pygments==2.17.2
PyMySQL==1.1.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
pypdfium2==4.24.0
pyquery==2.0.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
queuelib==1.6.2
referencing==0.32.0
requests==2.31.0
requests-file==1.5.1
rich==13.7.0
rpds-py==0.14.1
scikit-learn==1.3.1
scipy==1.11.3
Scrapy==2.11.0
seaborn==0.13.0
service-identity==23.1.0
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
snapshot==0.1.2
soupsieve==2.5
sqlparse==0.4.4
streamlit==1.29.0
streamlit-aggrid==0.3.4.post3
streamlit-echarts==0.4.0
sympy==1.12
tabula==1.0.5
tenacity==8.2.3
tldextract==5.1.1
toml==0.10.2
toolz==0.12.0
tornado==6.4
tqdm==4.66.1
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.0.4
validators==0.22.0
w3lib==2.1.2
watchdog==3.0.0
wcwidth==0.2.12
Werkzeug==3.0.1
wordcloud==1.9.3
xlrd==2.0.1
xlwt==1.3.0
yarg==0.1.9
zipp==3.17.0
zope.interface==6.1
